@import "tailwindcss";

@plugin "@tailwindcss/typography";

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.fade-out {
  animation: fadeOutUp 1s forwards;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

body {
  background: #fff5e6;
}

.markdown code {
  display: block;
  white-space: pre-wrap;
}

.knowledge {
  color: #4a4a4a !important;
}

.react-flow__edge-path {
  stroke: #d8bfd8 !important;
}

.card-inner {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
